
<%= form_with(model: reflection, local: true) do |form| %>
  <% if reflection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reflection.errors.count, "error") %> prohibited this reflection from being saved:</h2>

      <ul>
      <% reflection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @user %>

  <div class="field">
    今日の目標<br>
    <%= form.text_field :goal %>
  </div>

  <div class="field">
    今日の成果<br>
    <%= form.text_field :result %>
  </div>

  <div class="field">
    定性的目標（今月の目標・今クオーターの目標）<br>
    <%= form.text_field :biggergoal %>
  </div>

  <div class="field">
    予定<br>
    <%= form.text_area :plan %>
  </div>

  <div class="field">
    本日のトピック<br>
    <%= form.text_area :topic %>
  </div>

  <div class="field">
    本日の総括<br>
    <%= form.text_area :overall %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
