<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
<div class="col-md-4">
  自己紹介
</div>
<div class="col-md-4">
  目標と達成率
</div>
<div class="col-md-4">
  今日の目標と結果
</div>
</div>

<div class="row">
  <div class="col-md-6">
    今日の結果(プラン）
  </div>
  <div class="col-md-6">
    明日の予定(プラン）
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    本日のトピック
  </div>
  <div class="col-md-6">
    本日の総括
  </div>
</div>
<h1>Reflections</h1>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>Goal</th>
      <th>Result</th>
      <th>Bigger goal</th>
      <th>Plan</th>
      <th>Topic</th>
      <th>Overall</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reflections.each do |reflection| %>
      <tr>
        <td><%= @user.name </td>
        <td><%= reflection.goal %></td>
        <td><%= reflection.result %></td>
        <td><%= reflection.biggergoal %></td>
        <td><%= reflection.plan %></td>
        <td><%= reflection.topic %></td>
        <td><%= reflection.overall %></td>
        <td><%= link_to 'Show', reflection %></td>
        <td><%= link_to 'Edit', edit_reflection_path(reflection) %></td>
        <td><%= link_to 'Destroy', reflection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reflection', new_reflection_path %>
</div>
