<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
<div class="col-md-4">
  自己紹介
</div>
<div class="col-md-4">
  <p>目標と達成率</p>
  <%= @reflection.biggergoal %>
</div>
<div class="col-md-4">
  <p>今日の目標と結果</p>
  <p>目標<br><%= @reflection.goal %></p>
  <p>結果<br><%= @reflection.result %></p>
</div>
</div>

<div class="row">
  <div class="col-md-6">
    今日の結果(プラン）
  </div>
  <div class="col-md-6">
    明日の予定(プラン）
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>本日のトピック</p>
    <%= @reflection.topic %>
  </div>
  <div class="col-md-6">
    <p>本日の総括</p>
    <%= @reflection.overall %>
  </div>
</div>
<h1>Reflections</h1>

<table>
  <thead>
    <tr>
      <th>user</th>
      <th>Goal</th>
      <th>Result</th>
      <th>Bigger goal</th>
      <th>Plan</th>
      <th>Topic</th>
      <th>Overall</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reflections.each do |reflection| %>
      <tr>
        <td><%= attachment_image_tag reflection.user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg" %><%= reflection.user.name %></td>
        <td><%= reflection.goal %></td>
        <td><%= reflection.result %></td>
        <td><%= reflection.biggergoal %></td>
        <td><%= reflection.plan %></td>
        <td><%= reflection.topic %></td>
        <td><%= reflection.overall %><br><%= link_to "#{reflection.post_comments.count} コメント", reflection_path(reflection.id) %></td>
        <td><%= link_to 'Show', reflection %></td>
        <td><%= link_to 'Edit', edit_reflection_path(reflection) %></td>
        <td><%= link_to 'Destroy', reflection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reflection', new_reflection_path %>
</div>
