
<p id="notice"><%= notice %></p>
<div class="container">
  <p>
  <strong>今日の目標: </strong>
  <%= @reflection.goal %>
</p>

<p>
  <strong>今日の成果: </strong>
  <%= @reflection.result %>
</p>

<p>
  <strong>定性的目標（今月の目標・今クオーターの目標）: </strong>
  <%= @reflection.biggergoal %>
</p>

<p>
  <strong>予定: </strong>
  <%= @reflection.plan %>
</p>

<p>
  <strong>本日のトピック: </strong>
  <%= @reflection.topic %>
</p>

<p>
  <strong>本日の総括: </strong>
  <%= @reflection.overall %>
</p>

<%= link_to '編集', edit_reflection_path(@reflection) %> |
<%= link_to '戻る', users_path %>

<div class="comments">
<p>コメント件数：<%= @reflection.post_comments.count %></p>
<% @reflection.post_comments.each do |post_comment| %>
  <p><%= image_tag('sample-author1.jpg') %></p>
  <%= post_comment.user.name %>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% if post_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>
<div class="new-comment">
<%= form_with(model:[@reflection, @post_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>

<div>
<% if @reflection.favorited_by?(current_user) %>
    <p>
      <%= link_to reflection_favorites_path(@reflection), method: :delete do %>
        ♥<%= @reflection.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to reflection_favorites_path(@reflection), method: :post do %>
        ♡<%= @reflection.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>
</div>