
<p id="notice"><%= notice %></p>
<!--何これ-->
<p>
  <strong>Goal:</strong>
  <%= @reflection.goal %>
</p>

<p>
  <strong>Result:</strong>
  <%= @reflection.result %>
</p>

<p>
  <strong>Biggergoal:</strong>
  <%= @reflection.biggergoal %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @reflection.plan %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @reflection.topic %>
</p>

<p>
  <strong>Overall:</strong>
  <%= @reflection.overall %>
</p>

<%= link_to 'Edit', edit_reflection_path(@reflection) %> |
<%= link_to 'Back', reflections_path %>
