<div class="container">
  <div class="row">
    <div class="groups col-md-12">
      <% current_user.groups.each do |group| %>
        <div class="group">
          <%= link_to '#' do %>
            <div class="group__name">
              <%= group.name %>
            </div>
            <div class="member">
              メンバー:
              <% group.users.each do |user| %>
              <%= attachment_image_tag user, :profile_image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %><%= user.name %>
              <% end %>
            </div>
            <div class="group__message">
              メッセージはまだありません。
            </div>
          <% end %>
          <%= link_to 'Edit', edit_group_path(group) %><br><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>

  </div>
<div class="row">
  <div class="chat-group-form">
  <h1>新規チャットグループ  <i class="far fa-comments"></i></h1>
  <%= render :partial => 'form', :locals => {group: @group} %>
  </div>
</div>