
      <p>image<br><%= attachment_image_tag @user, :profile_image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %></p>
      <p>name<br><%= @user.name %></p>
      <p>email<br><%= @user.email %></p>
      <% if @user == current_user %>
      <p><%= link_to '編集', edit_user_registration_path(@user), class: "btn btn-outline-success" %></p>
      <% end %>
      <%= link_to '戻る', users_path, class: "btn btn-outline-secondary" %>

