      <p>image<br><img src=<%= @user.image %> class = "icon_image"></p>
      <p>name<br><%= @user.name %></p>
      <p>email<br><%= @user.email %></p>
      <% if @user == current_user %>
      <p><%= link_to 'Edit', edit_user_registration_path(@user) %></p>
      <% end %>
      <%= link_to 'Back', users_path %>