<!DOCTYPE html>
<html>
  <head>
    <title>PDCAHelper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <nav class="navbar navbar-expand-lg navbar-dark bg">
      <div class="container">
        <span class="navbar-brand"><%= link_to "PDCA Helper", "/",style: "color:white;" %></span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li><%= link_to "本日の反省", new_reflection_path, style: "color:white;" %></li>
              <li><%= link_to "所属チーム", groups_path, style: "color:white;" %></li>
              <li><%= link_to "プレイヤー", users_path, style: "color:white;" %></li>
              <li><%= link_to "マイページ", reflections_path, style: "color:white;" %></li>
              <li><%= link_to "トピックス", topics_path, style: "color:white;" %></li>
              <li><%= link_to "お気に入り", reflection_favorites_path(current_user.id), style: "color:white;" %></li>
              <li>><%= link_to "ログアウト", destroy_user_session_path, method: :delete, style: "color:white;" %></li>
            <% else %>
              <li><%= link_to "ホーム", "/", style: "color:white;" %></li>
              <li><%= link_to "新規登録", new_user_registration_path, style: "color:white;" %></li>
              <li><%= link_to "ログイン", new_user_session_path, style: "color:white;" %></li>
            <% end %>
      </ul>
      </div>
      </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
